<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="keywords" content="blog" />
<meta name="description" content="blog" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/m.css" rel="stylesheet">
<script src="/static/js/jquery-1.8.3.min.js" ></script>
<script src="/static/js/comm.js"></script>
<!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<!--top begin-->
<header id="header">
  <div class="navbox">
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <div class="logo"><a href="#">首页</a></div>
    <nav>
      <ul id="starlist">
        <li><a href="#">首页</a></li>
       
      </ul>
    </nav>
    <div class="searchico"></div>
  </div>
</header>
<div class="searchbox">
  <div class="search">
    <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
      <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
      <input name="show" value="title" type="hidden">
      <input name="tempid" value="1" type="hidden">
      <input name="tbname" value="news" type="hidden">
      <input name="Submit" class="input_submit" value="搜索" type="submit">
    </form>
  </div>
  <div class="searchclose"></div>
</div>
<!--top end-->
<article> 
  <!--lbox begin-->
  <div class="lbox"> 
    <!--banbox begin-->
    <div class="banbox">
      <div class="banner">
        <div id="banner" class="fader">
          <li class="slide" ><a href="/" target="_blank"><img src="/static/images/1.jpg"></a></li>
          <li class="slide" ><a href="/" target="_blank"><img src="/static/images/2.jpg"></a></li>
          <li class="slide" ><a href="/" target="_blank"><img src="/static/images/3.jpg"></a></li>
          <li class="slide" ><a href="/" target="_blank"><img src="/static/images/4.jpg"></a></li>
          <div class="fader_controls">
            <div class="page prev" data-target="prev"></div>
            <div class="page next" data-target="next"></div>
            <ul class="pager_list">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--banbox end--> 
    <!--headline begin-->
    <div class="headline">
      <ul>
        <li><a href="/"><img src="/static/images/h1.jpg"><span></span></a></li>
        <li><a href="/" ><img src="/static/images/h2.jpg" ><span></span></a></li>
      </ul>
    </div>
    <!--headline end-->
    <div class="clearblank"></div>
    

    
    <!--bloglist end--> 
  </div>
  <div class="rbox">
    <div class="card">
      <h2>我的名片</h2>
      <p>网址：www.lfg0613.cn</p>
      <p>职业：PHP后端开发</p>
      <p>现居：重庆市-沙坪坝区</p>
      <p>Email：1373949185@qq.com</p>
    </div>
    
    
    
    
    
    
    
    
  </div>
</article>
<footer>
  <div class="box">
    <div class="wxbox">
    </div>
    <div class="endnav">
      <p>Copyright © <a href="http://www.lfg0613.cn" target="_blank">www.lfg0613.cn</a> All Rights Reserved. 备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">渝ICP备19001545号</a></p>
    </div>
  </div>
  <a href="#">
  <div class="top"></div>
  </a> </footer>
</body>
</html>
